html {
  font-size: 62.5%;
}

body {
  background: $color-gradient-one;  
  background: -webkit-linear-gradient(to right, $color-gradient-two, $color-gradient-one); 
  background: linear-gradient(to right, $color-gradient-two, $color-gradient-one); 
  
  font-family: 'IBM Plex Sans', Verdana sans-serif;
  font-size: 10px;
  }
  
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 960px;
  margin: auto;
  }

h1 {
  font-size: 4rem;
  margin: 3rem 0rem;
  color: $color-title;
  @include transition(color);

  &:hover{
    color: $color-white;
  }
}

