$color-title:#ffffff80;
$color-white:#ffffff;
$color-shadow:#00000080;
$color-gradient-one:#BE93C5;
$color-gradient-two:#7BC6CC;
$color-key-hover:#f9f9f9;
$color-key-active:rgba(123, 199, 204, 0.3);
$color-text-bg:rgba(190, 147, 197, 0.45);
$color-function-keys:hsla(0, 0%, 95%, 1);
